<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta th:replace="fragments/headTag :: header"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Административный раздел</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Пользователи</h3>
            <div class="table table-responsive-sm table-hover">
                <table class="table">
                    <thead class="thead">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Роли</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="author : ${authors}">
                        <td th:text="${author.id}"></td>
                        <td th:text="${author.fullName}"></td>
                        <td th:text="${author.username}"></td>
                        <td th:each="role : ${author.roles}">
                            <span th:text=" ${role} "></span>
                        </td>
                        <td><a th:href="'/admin/' + ${author.id} + '?action=delete'"><span class='fa fa-remove'></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <form action="#" class="form-horizontal" th:action="@{/admin}" method="post" th:object="${authorEntity}">
                <h3>Регистрация пользователя</h3>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{username}" placeholder="username"></input>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Ошибка! </span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="password"></input>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Ошибка! </span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{fullName}" placeholder="ФИО"></input>
                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"> Ошибка! </span>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                    <a class="btn btn-primary" href="/home">Назад</a>
                </div>
                <div th:if="${successMessage}" class="alert alert-success">
                    <p th:text="${successMessage}"></p>
                </div>
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <p th:text="${errorMessage}"></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>