<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Письма</title>
    <meta th:replace="fragments/headTag :: header"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <p class="display-4"><span class="fa fa-envelope-open"></span> Письма</p>
            <p><a class="btn btn-outline-primary" onclick="add()"><span class="fa fa-plus"></span> Новое</a></p>
        </div>
        <div class="col-sm-4">
            <h5 class="text-right">
                <span th:text="${fullName}"></span>(id:<span id="authorId" th:text="${authorId}"></span>)<br/>
                <small class="text-muted">
                    <span th:text="${date.toString()}"></span><br/>
                    <a th:href="@{/logout}">Выйти <span class="fa fa-sign-out"></span></a>
                </small>
            </h5>
            <p class="text-right" th:if="${#strings.contains(#strings.toString(authUser.getAuthorities()), 'ADMIN')}">
                <a th:href="@{/admin}">Пользователи <span class="fa fa-users"></span></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive-sm table-hover" id="mails">
                <thead class="bg-light">
                <tr>
                    <th scope="row">Номер</th>
                    <th scope="row">Дата</th>
                    <th scope="row">Получатель</th>
                    <th scope="row">Тема</th>
                    <th scope="row">Исполнитель</th>
                    <th scope="row">Проверено</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="newMail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Новое письмо</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="cancel()">&times;</button>
            </div>
            <div class="modal-body">
                <style type="text/css">
                    .cke_textarea_inline {
                        border: 1px solid #ccc;
                        padding: 10px;
                        min-height: 300px;
                    }
                </style>
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id"/>
                    <input type="hidden" id="version" name="version"/>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="col-form-label-sm" for="mailNumber">Номер</label>
                                    <input type="text" class="form-control form-control-sm" id="mailNumber"
                                           name="mailNumber" required=""/>
                                </div>
                                <div class="col-sm-7">
                                    <label class="col-form-label-sm" for="createDate">Дата</label>
                                    <input type="text" class="form-control form-control-sm" id="createDate"
                                           name="createDate" required=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label-sm" for="mailSubject">Тема письма</label>
                                    <input type="text" class="form-control form-control-sm" id="mailSubject"
                                           placeholder="Тема письма" name="mailSubject" required=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label-sm" for="mailRecipient">Получатель</label>
                                <textarea rows="4" class="form-control form-control-sm" id="mailRecipient"
                                          placeholder="Получатель" name="mailRecipient" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label-sm" for="mailTitle">Заголовок письма</label>
                        <input type="text" class="form-control form-control-sm" id="mailTitle"
                               placeholder="Заголовок письма" name="mailTitle"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label-sm" for="mailText">Текст письма</label>
                        <textarea rows="3" class="form-control form-control-sm" id="mailText"
                                  placeholder="Текст письма" name="mailText"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="save-btn" class="btn btn-secondary" data-dismiss="modal" onclick="cancel()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="fa fa-check"></span>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="authors">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="authorsTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="authorsForm">
                    <input type="hidden" name="id"/>
                    <div class="form-row ">
                        <div class="form-group col-md-9">
                            <label class="col-form-label-sm" for="authors-mail">Номер</label>
                            <input type="text" class="form-control form-control-sm" id="authors-mail"
                                   name="mailNumber"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label-sm" for="authors-id">Исполнитель</label>
                        <select class="form-control form-control-sm" id="authors-id" name="authorId">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="changeAuthor()">
                    <span class="fa fa-check"></span>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/common.js}"></script>
</body>
</html>